body {
  background-color: black; /* Fundo preto */
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black; /* Fundo preto */
}

.grid-item button {
  margin-top: 10px;
  background-color: #8cff8c; /* Cor do botão em verde claro */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.video-title {
  margin-top: 10px;
  color: white;
  text-align: center; /* Alinhamento central */
}

video {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.video-thumbnail {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: contain; /* Mantém toda a imagem visível */
}
